@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

body {
  background: rgb(80, 79, 79);
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  font-family: "Luxurious Roman", cursive;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 70px;
  background-color: rgb(10, 7, 7);
  color: whitesmoke;
}
nav ul li {
  padding: 0px 20px;
}

.brand img {
  width: 60px;
  padding: 0px 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.2rem;
}

.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("img1.jpeg");
  background-size: 100%;
}

.bottom {
  position: sticky;
  height: 100px;
  background-color: rgb(123, 123, 126);
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  margin-top: 12px;
}
.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 70px;
}

.songItem {
  height: 50%;
  display: flex;
  background-color: white;
  width: 60%;
  margin: 15px 0px;
  color: black;
  justify-content: space-around;
  align-items: center;
  border-radius: 32px;
}
.songItem img {
  width: 50px;
  margin: 5px 25px;
  border-radius: 40px;
}

.timestamp {
  margin: 0px 23px;
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 10.5vw;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
